<!DOCTYPE html>
<html lang="en">
<head>
    <!--GRID CSS-->
    <link rel="stylesheet" href="css/grid-index.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="css/estilos-index.css">
    <!--RESPONSIVE CSS-->
    <link rel="stylesheet" href="css/responsive-index.css">
    <!-- MENU CSS-->
    <link rel="stylesheet" href="css/menu.css">
    <!-- FOOTER CSS-->
    <link rel="stylesheet" href="css/footer.css">

    <!-- FONT MONTSERRAT-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">   
    <!--FONT KARLA-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap" rel="stylesheet">
    <!--FONT ALEGREYA-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap" rel="stylesheet">
    
    <!--Plugins Redes-->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css'>

    <!--FAVICON-->
    <link  rel="icon"   href="recursos/favicon-32x32.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="180x180" href="recursos/favicon/apple-touch-icon.png">

    <!--ETIQUETAS META-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content="
	Cultura Musical del Género Urbano. Encuentra las últimas noticias del entretenimiento y lo mejor en música, entrevistas y más." />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="content-language" content="es" />
	<meta name="keywords" content="explosivo g, explosivog, explosivo, ExplosivoG, "/><!--AÑADE PALABRAS CLAVES-->
	<meta name ="author" content ="Explosivo G, Entertainment"/>
    <meta name="theme-color" content="#000000"/>
    
    <!-- OpenGraph -->
	<meta property="og:url" content="https://explosivog.com/"/>
	<meta property="og:title" content="Explosivo G | Noticias, Musica, Entrevistas y más"/>
	<meta property="og:image" content="recursos/favicon/apple-touch-icon.png"/>
	<meta property="og:type" content="website"/>

    <script data-ad-client="ca-pub-8267898525929414" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <title>Explosivo G | Noticias, Música, Entrevistas y más. </title>
</head>
<body>
    
    	<!-- caja contenedor de logo, menu, redes -->
	<header class="header">
		<div class="header_content d-flex align-items-center justify-content-center">
			<!--Logo-->
			<div class="logo"><a href="https://explosivog.com"><img src="recursos/logo.png"></a></div>
			<!--Menu ordenador-->
			<form id="Menu-ordenador" v-cloak>
			    <nav class="menu_ordenador">
                    <ul class="d-flex d-flex align-items-center justify-content-center justify-content">
                        <li v-for="article in filteredArticles">
                            <a href="#" v-bind:href="article.url">
                               <p>{{article.title}}</p>
                            </a>
                        </li> 
                    </ul>
                </nav>      
            </form>
			<!-- Hamburguesa -->
			<div class="hamburger ml-auto">
			   MENÚ 
			    <div class="d-flex flex-column align-items-end justify-content-between">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<!--redes-->
			<div class="redes-escritorio">	
                <section>
                    <div class="social"> 
                        <div class="margen-responsive-redes-4x4">   
                            <a href="https://www.instagram.com/explosivog/?hl=es-la" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a> 
                            <a href="https://www.facebook.com/explosivog/" target="_blank">
                               <i class="fab fa-facebook-f"></i></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UCcKdOMQykOmAls4bJX2moOg" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="https://open.spotify.com/user/apwdmpx6lr962qnukmk3chluc" target="_blank">
                               <i class="fab fa-spotify"></i></i>
                            </a>
                        </div>
                    </div>
                </section>	
			</div>
		</div>
	</header>
    <!--Menu Responsive-->
	<div class="menu">
		<div>
			<div class="menu_overlay"></div>
			<div class="menu_container">
				<nav class="caja-redes-responsive">
				   <!--redes-->
				    <div class="redes-responsive">	
                        <section>
                            <div class="social"> 
                                <a href="https://www.instagram.com/explosivog/?hl=es-la" target="_blank">
                                  <i class="fab fa-instagram"></i>
                                </a> 
                                <a href="https://www.facebook.com/explosivog/" target="_blank">
                                   <i class="fab fa-facebook-f"></i></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCcKdOMQykOmAls4bJX2moOg" target="_blank">
                                  <i class="fab fa-youtube"></i>
                                </a>
                                <a href="https://open.spotify.com/user/apwdmpx6lr962qnukmk3chluc" target="_blank">
                                  <i class="fab fa-spotify"></i></i>
                                </a>
                            </div>
                        </section>	
			        </div>
				</nav>
				<nav class="menu_responsive">
					<ul class="flex-column">
						<form id="Menu-responsive" v-cloak>            
                            <li v-for="article in filteredArticles">
                                <a href="#" v-bind:href="article.url">
                                   <p>{{article.title}}</p>
                                </a>
                            </li>       
                        </form>
					</ul>
				</nav>
			</div>
		</div>
	</div>	
    
    <br>
    <div class="container">

        <div class="principal-new">
            <br>
            <a href="2021/hear-this-music-presenta-aloha-un-junte-inesperado-y-muy-explosivo">
            <h1>HEAR THIS MUSIC PRESENTA: “ALOHA” Un Junte Inesperado Y Muy ¡Explosivo!</h1>
            <br>
            <img src="images/aloha.jpg" alt=""></a>
        </div>
        <div class="top-stories">
            <h2>LO MÁS VISTO</h2>
            <br>
            <form id="img-lomasvisto" v-cloak>
                <ul>
                    <li v-for="article in filteredArticles">
                        <a v-bind:href="article.url"><img class="img-lomasvisto" v-bind:src="article.image"/>
                            <h4>{{article.title}}</h4>
                        </a>
                     </li> 
                </ul>
            </form>
            <br>
            <h2>ULTIMAS HISTORIAS</h2>
            <br>
            <form id="ultimas-historias" v-cloak>
                <ul>
                    <li v-for="article in filteredArticles">
                        <a href="#" v-bind:href="article.url">
                            <h4>{{article.title}}</h4>
                        </a>
                    </li> 
                </ul>
            </form>
        </div>
    </div>
    <br><br>
    <h1 class="title">TOP 3 EXPLOSIVO</h1>
    <br>
    <div class="top-3">
    
            <iframe class="video-top" width="33%" height="250" src="https://www.youtube.com/embed/moFLjsO9TGA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        
            <iframe class="video-top" width="33%" height="250" src="https://www.youtube.com/embed/f5omY8jVrSM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        
            <iframe class="video-top" width="33%" height="250" src="https://www.youtube.com/embed/PMR2Xn8kdNY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </div>
    <br><br>
    <div class="estrenos">
        <div class="estrenos"> <h1>ESTRENOS</h1>
            <a href="2021/camilo-estrena-mis-manos-su-nuevo-trabajo-descografico">
                <div class="noticia-principal"><img src="images/mis-manos.jpg" alt="">
                    <div class="contenido">
                        <div class="titulo"><h1>Camilo Estrena “Mis Manos”: Su Nuevo Trabajo Discográfico</h1></div>
                        <div class="escritor"><h5>por SERGIO USTARIS</h5></div>
                        <br>
                        <div class="descripcion"><p>Camilo, uno de los artistas colombianos más destacados de los últimos años estrenó el 
                            viernes 5 de marzo, su nuevo trabajo discográfico titulado “Mis Manos”. Incluye canciones reconocidas como 
                            “Vida de Rico”, “Ropa Cara” y “Bebé” junto El Alfa.</p></div>
                    </div>
                </div>
            </a>
            <br>
            <div class="noticias">
                <a href="2021/las-nenas-mandan-natti-natasha-presenta-su-nueva-cancion-ft-farina-cazzu-y-la-duraca">
                    <div class="noticia"><img src="images/las-nenas.jpg" alt="">
                        <div class="contenido">
                            <div class="titulo"><h2>“Las Nenas” ¡Mandan! Natti Natasha Presenta Su Nueva Canción ft Farina, Cazzu y La Duraca</h2></div>
                            <div class="escritor"><h5>por JOSE CARDENAS</h5></div>
                            <br>
                        </div>
                    </div>
                </a>
                <a href="2021/j-balvin-estreno-ma-g-sencillo-en-el-cual-presenta-a-castilla-el-barrio-que-lo-vio-nacer">
                    <div class="noticia"><img src="images/ma-g.jpg" alt="">
                        <div class="contenido">
                            <div class="titulo"><h2>J Balvin estrenó Ma G, sencillo en el cual presenta a Castilla, el barrio que lo vió nacer.</h2></div>
                            <div class="escritor"><h5>por JOSE CARDENAS</h5></div>
                            <br>
                        </div>
                    </div>
                </a>
                <a href="2021/mi-niña-remix-una-apuesta-muy-internacional">
                    <div class="noticia"><img src="images/mi-niña-remix.jpg" alt="">
                        <div class="contenido">
                            <div class="titulo"><h2>Mi Niña Remix, Una Apuesta Muy Internacional</h2></div>
                            <div class="escritor"><h5>por SERGIO USTARIS</h5></div>
                            <br><br>
                        </div>
                    </div>
                </a>
                <a href="2021/farruko-habla-sobre-sus-nuevos-sencillos-un-abrebocas-de-su-proximo-album">
                    <div class="noticia"><img src="images/premium-farruko.jpg" alt="">
                        <div class="contenido">
                            <div class="titulo"><h2>Farruko Habla Sobre Sus Nuevos Sencillos! Un Abrebocas De Su Proximo Álbum</h2></div>
                            <div class="escritor"><h5>por JOSE CARDENAS</h5></div>
                            <br>
                        </div>
                    </div>
                </a>
            </div>
            <br><br>
                            
        </div>
    </div>
    <div class="estrenos-shows">
        <div class="estrenos"> <h1>NUEVAS PROMESAS</h1>
            <a href="2021/kapla-y-miky-se-montan-con-blessed-en-la-dt">
                <div class="noticia-principal"><img src="images/la-dt.jpg" alt="">
                    <div class="contenido">
                        <div class="titulo"><h1>KAPLA Y MIKY SE MONTAN CON BLESSED EN “LA DT”.</h1></div>
                        <div class="escritor"><h5>por JHOAN SARMIENTO</h5></div>
                        <br>
                        <div class="descripcion"><p>La dt es el nuevo sencillo que están lanzando estos tres talentosos jóvenes colombianos
                            que poco a poco están logrando acaparar mucho público a nivel nacional, tanto así que han llamado la 
                            atención de productores como SKY rompiendo.</p></div>
                    </div>
                </div>
            </a>
            <br>
            <a href="2021/akim-estrena-otra-baby-junto-a-dalex-beele-y-boza">
                <div class="noticia-principal"><img src="images/akim.jpg" alt="">
                    <div class="contenido">
                        <div class="titulo"><h1>AKIM ESTRENA “OTRA BABY” JUNTO A DALEX, BEÉLE Y BOZA</h1></div>
                        <div class="escritor"><h5>por JHOAN SARMIENTO</h5></div>
                        <br>
                        <div class="descripcion"><p>Cada vez mas el movimiento urbano en Panamá va tomando fuerza y prueba de esto 
                            es el escalamiento tan rápido que han tenido artistas como AKIM y BOZA, que han venido creciendo 
                            muy rápido en la industria musical.</p></div>
                    </div>
                </div>
            </a>
            <br><br>
                            
        </div>
        
        <div class="shows"><h1>SHOWS</h1>
            <a href="https://www.youtube.com/watch?v=4BIwhVEd9W4&t=105s" target="blank" class="iluminacion">
            <img src="images/amordediscoteca.jpg" alt="">
            <h4>Cubrimiento Especial De Amor De Discoteca.</h4></a>
            <br>
            <a href="https://www.youtube.com/playlist?list=PLiO6Bee35RRiOVXXIzDu0MxzD868Z2_aY" target="blank" class="iluminacion">
            <img src="images/torneo.jpg" alt="">
            <h4>Una Final De Infarto #torneofreestyleexplosivog.</h4></a>
            <br>
            <a href="https://www.youtube.com/watch?v=YNSP-j3iqOo" target="blank" class="iluminacion">
            <img src="images/laacademiaaltafulla.jpg" alt="">
            <h4>Altafulla Nos Cuenta Los Detalles De Su Nuevo Album Colors.</h4></a>
            <br>
            <a href="https://www.youtube.com/watch?v=CFAVS9z39jw&t=149s" target="blank" class="iluminacion">
            <img src="images/kazteyano.jpg" alt="">
            <h4>47corp , La historia que nadie conocio, por Kazteyano Records (Parte 2).</h4></a>
            <br>
            <a href="https://www.youtube.com/watch?v=2uGO1afZgeY" target="blank" class="iluminacion">
            <img src="images/los-hermanos-tal.jpg" alt="">
            <h4>LOS HERMANOS TAL - Fuimos Narcos</h4></a>
            <br>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer_container">
            <div class="newsletter_container">
                <div class="newsletter_title"><h2>Suscribete y mantente al tanto de todo lo nuevo.</h2></div>
                <form action="bd/registro-de-correo" method="post" id="newsletter_form" class="newsletter_form">
                    <input type="email" class="newsletter_input" name="correo" id="correo" placeholder="Correo Electrónico" required="required">
                    <button class="newsletter_button" >ENVIAR</button>
                </form>
            </div>
                <!-- NUESTROS LINKS -->
                <div class="footer_list">
                    <div class="footer_list_title">NUESTROS <br>LINKS</div>
                    <form id="nuestros-links" v-cloak>
                        <ul>
                            <li v-for="article in filteredArticles">
                                <a href="#" v-bind:href="article.url">
                                   <p>{{article.title}}</p>
                                </a>
                           </li> 
                       </ul>
                   </form>
                </div>
                <!-- CANALES -->
                <div class="footer_list">
                    <div class="footer_list_title">CANALES</div>
                    <form id="nuestros-canales" v-cloak>
                        <ul>
                            <li v-for="article in filteredArticles">
                                <a href="#" v-bind:href="article.url">
                                   <p>{{article.title}}</p>
                                </a>
                           </li> 
                       </ul>
                   </form>
                </div>
                <!-- CONNECTIVIDAD -->
                <div class="footer_list">
                    <div class="footer_list_title">CONTACTO</div>
                     <form id="contacto" v-cloak>
                        <ul>
                            <li v-for="article in filteredArticles">
                                <a href="#" v-bind:href="article.url">
                                   <p>{{article.title}}</p>
                                </a>
                           </li> 
                       </ul>
                   </form>
                </div>
            
        </div>
        <br>
        <div class="copyright_bar">&copy;2020 Explosivo G Entertainment | Todos los Derechos Reservados.</div>
    </footer>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125010864-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125010864-1');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="js/menu-scroll.js"></script>
    <script src="js/MENU-URLS.js"></script>
    <script>src="js/modal.js"</script>
</body>
</html>